{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{% block title %}CatalogARTE{% endblock %}</title>

	{% bootstrap_css %}
	<link href="{% static "webapp/css/style.css" %}" rel="stylesheet">
	<link href="{% static "webapp/css/font-awesome.min.css" %}" rel="stylesheet">
	<link href="{% static "webapp/css/jquery-ui.min.css" %}" rel="stylesheet">

	<script src="{% static "webapp/js/jquery-2.1.1.min.js" %}"></script>
	<script src="{% static "webapp/js/jquery-ui.min.js" %}"></script>
	<script src="{% static "webapp/js/jquery.json.min.js" %}"></script>
	<script src="{% static "webapp/js/jquery.fineuploader-5.0.7.min.js" %}"></script>
	{% bootstrap_javascript %}
	{{ form.media }}
</head>

<body>
	<div class="navbar navbar-material-teal" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">CatalogARTE</a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav navbar-right">
					{% block navbar %}
						<li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
						<li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
					{% endblock %}
				</ul>
			</div>
		</div>
	</div>

	{% bootstrap_messages %}

	{% block content %}{% endblock %}

	<script src="{% static "webapp/js/isotope.pkgd.min.js" %}"></script>
	<script src="{% static "webapp/js/script.js" %}"></script>
</body>
</html>
