{% extends "webapp/base.html" %}
{% load staticfiles %}

{% block content %}

<link href="{% static "webapp/css/magnific-popup.css" %}" rel="stylesheet">
<script src="{% static "webapp/js/sly.min.js" %}"></script>
<script src="{% static "webapp/js/jquery.magnific-popup.min.js" %}"></script>

<div class="container-fluid galeria">
  <div class="frame">
    <ul class="slidee">
      {% for pagina in catalogo.contenido.paginas %}
        <li class="item">{{ pagina.html | safe }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="scrollbar">
    <div class="handle"></div>
  </div>
</div>

<script>
  $(function() {
    var options = {
        horizontal: 1,
        itemNav: 'forceCentered',
        activateMiddle: 1,
        speed: 300,
        scrollBy: 1,
        touchDragging: 1,
        scrollBar: '.scrollbar',
    };
    var frame = new Sly('.frame', options).init();

    $('.photo').click(function() {
      var img = $(this);

      $.magnificPopup.open({
        items: {
          src: img.css('background-image').replace('url(','').replace(')','')
        },
        type: 'image',
        mainClass: 'mfp-no-margins mfp-with-zoom',
        closeOnContentClick: true,

        zoom: {
          enabled: true,
          duration: 300,
          easing: 'ease-in-out',

          opener: function(openerElement) {
            return img;
          }
        }
      }, 0);
    });
  });
</script>
{% endblock %}
