{% extends "webapp/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="content">
  <div class="col-md-2">
  <a class="btn btn-default" onclick="prev();">Prev</a>
  </div>
  <div class="col-md-8 galeria">
    <div id="galeria-item" class="center-block">

    </div>
  </div>
  <div class="col-md-2">
    <a class="btn btn-default" onclick="next();">Next</a>
  </div>
</div>

<script>
  var contenido = {{ contenido | safe }};
  var numPagina = 0;

  $(function() {
    cargaPagina(numPagina);
  });

  function prev(){
    var t = 350;
    if(numPagina > 0) numPagina--;
    $('#galeria-item').animate({
      left: "+=50px",
      opacity:"toggle"
    }, {
      duration: t,
      complete: function() {
        cargaPagina(numPagina);
        $('#galeria-item').css('left', '-50px');
        $('#galeria-item').animate({
          left: "+=50px",
          opacity:"toggle"
        }, t);
      }
    });
  }

  function next(){
    var t = 350;
    if(numPagina < contenido.numPaginas-1) numPagina++;
    $('#galeria-item').animate({
      left: "-=50px",
      opacity:"toggle"
    }, {
      duration: t,
      complete: function() {
        cargaPagina(numPagina);
        $('#galeria-item').css('left', '50px');
        $('#galeria-item').animate({
          left: "-=50px",
          opacity:"toggle"
        }, t);
      }
    });
  }

  function cargaPagina(i){
    var pagina = contenido.paginas[i];
    $('#galeria-item').html(pagina.html);
  }
</script>
{% endblock %}
