{% extends "webapp/base.html" %}
{% load staticfiles %}

{% block content %}

<link href="{% static "webapp/css/magnific-popup.css" %}" rel="stylesheet">
<script src="{% static "webapp/js/sly.min.js" %}"></script>
<script src="{% static "webapp/js/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "webapp/js/catalogo.js" %}"></script>

<div class="container-fluid galeria">
  <div class="frame">
    <ul class="slidee">
      {% for pagina in catalogo.contenido.paginas %}
        <li class="item">{{ pagina.html | safe }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="scrollbar">
    <div class="handle"></div>
  </div>
</div>

{% endblock %}
