{% extends "webapp/base_noheader.html" %}
{% load staticfiles %}

{% block content %}

<link href="{% static "webapp/css/magnific-popup.css" %}" rel="stylesheet">
<script src="{% static "webapp/js/turn.min.js" %}"></script>
<script src="{% static "webapp/js/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "webapp/js/catalogo_pdf.js" %}"></script>

<script>
  var catalogo = { paginas : {{ contenido | safe }} };
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center encabezado">
      <div class="btn-group contenido">
        <a href="javascript:void(0)" class="btn btn-lg btn-flat dropdown-toggle" data-toggle="dropdown">
          Contenido<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        </ul>
      </div>
      <i class="fa fa-file-pdf-o fa-2x"></i>
      <i class="fa fa-envelope fa-2x"></i>
      <i class="fa fa-twitter fa-2x"></i>
      <i class="fa fa-facebook fa-2x"></i>
      <span class="fa-stack fa-lg pull-right" onclick="history.go(-1);">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-remove fa-stack-1x fa-inverse"></i>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="flipbook-container">
      <div class="flipbook">
        <div ignore="1" class="nav prev"><i class="fa fa-chevron-left"></i></div>
        {% for pagina in catalogo.contenido.paginas %}
          <div>{{ pagina.html | safe }}</div>
        {% endfor %}
        <div ignore="1" class="nav next"><i class="fa fa-chevron-right"></i></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
