{% extends "webapp/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12 well catalogo">
			<div class="row">
				<div class="col-md-10">
					<h1>{{exposicion.titulo}}<small>&nbsp;{{exposicion.subtitulo}}</small></h1>
				</div>
				<div class="col-md-2">
					<a href="{% url 'catalogo_detalle' exposicion.slug %}" class="btn btn-default">Ver catálogo</a>
				</div>
			</div>
			<div class="row">
				<hr>
			</div>
			<div class="row">
				<div class="col-md-6">
					<img src="{{exposicion.portada.url}}" class="img-thumbnail img-responsive">
					<p class="desc lead">{{exposicion.descripcion}}</p>
				</div>
				<div class="col-md-6">
					<img class="pull-right" height="90" src="{{exposicion.museo.logotipo.url}}">
					<h2>{{exposicion.museo.nombre}}</h2>
					<ul class="detalle">
						<li><i class="fa fa-calendar"></i>Hasta el 5 de octubre</li>
						<li><i class="fa fa-tags"></i>{{exposicion.get_categorias}}</li>
						<li><i class="fa fa-globe"></i><a href="{{exposicion.website}}" target="_blank">Sitio web</a></li>
					</ul>
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#info" role="tab" data-toggle="tab">Información</a></li>
						<li><a href="#actividades" role="tab" data-toggle="tab">Actividades</a></li>
						<li><a href="#creditos" role="tab" data-toggle="tab">Créditos</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="info">
							<p>{{exposicion.informacion | safe}}</p>
						</div>
						<div class="tab-pane fade" id="actividades">
							<p>{{exposicion.actividades | safe}}</p>
						</div>
						<div class="tab-pane fade" id="creditos">
							<p>{{exposicion.creditos | safe}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
