{% extends "webapp/base.html" %}
{% load bootstrap3 %}

{% block navbar %}
    <li><a class="avatar" href="javascript:void(0)">{{user.museo.nombre}}<img src="{{user.museo.logotipo.url}}"></a></li>
{% endblock %}

{% block content %}
    <div class="container-fluid well">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if object.pk %}
                        <h2 class="pull-left">Actualizar catálogo</h2>
                        <a href="{% url 'catalogo_contenido' object.slug %}" class="btn btn-material-teal pull-right">Editar contenido</a>
                    {% else %}
                        <h2>Nuevo catálogo</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 well">
            <h4 class="text-muted">Información sobre la exposición</h4>
            <hr>
            <form action="" enctype="multipart/form-data" method="post" class="form-horizontal">
                {% csrf_token %}
                {% bootstrap_form form layout="horizontal" label_class='col-md-2' field_class='col-md-8' %}
                {% buttons%}
                    <div class="col-md-8 col-md-offset-2">
                        <hr>
                        <a href="{% url 'catalogo_admin' %}" class="btn btn-default pull-left">Cancelar</a>
                        {% if object.pk %}
                            <button type="submit" class="btn btn-material-teal pull-right">Guardar</button>
                        {% else %}
                            <button type="submit" class="btn btn-material-teal pull-right">Guardar y continuar</button>
                        {% endif %}
                    </div>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}
