{% extends "webapp/base.html" %}
{% load staticfiles %}

{% block navbar %}
<li>
	<a class="avatar" href="javascript:void(0)">
		{{user.museo.nombre}}<img src="{{user.museo.logotipo.url}}">
	</a>
</li>
{% endblock %}

{% block content %}
<script src="{% static 'webapp/js/bootstrap-editable.min.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'webapp/js/jquery.draggableBackground.js' %}"></script>
<script src="{% static 'webapp/js/bootbox.min.js' %}"></script>
<script src="{% static 'webapp/js/editor.js' %}"></script>
<script>
	var ckeditorConfigs = {{ ckeditor_configs | safe }};
	var guardarUrl = "{% url 'catalogo_save' exposicion.slug %}";
  var exportarUrl = "{% url 'catalogo_export' exposicion.slug %}";
	var agregarMediaUrl = "{% url 'media_agregar' exposicion.slug %}";
  var mediaUrl = "{% url 'media_list' exposicion.slug %}";
  var imgUploadUrl = "{% url 'img_agregar' exposicion.slug %}";
	var doc = {
    numPaginas : {{ catalogo.contenido.numPaginas | default:"0" }},
    sigId : {{ catalogo.contenido.sigId | default:"1" }}
  };
  var csrf = "{{ csrf_token }}";
</script>

<div class="container">
	<div class="row workspace">
		<div class="col-md-2 toolbar-container">
			<div class="toolbar" data-spy="affix" data-offset-top="65">
				<h4 class="text-center">Herramientas</h4>
				<div class="list-group">
          <a class="list-group-item">
            <i class="fa fa-gear list-item"></i>Configuración
          </a>
					<a id="exportarBtn" class="list-group-item" onclick="exportar();">
						<i class="fa fa-upload list-item"></i>Exportar<i class="fa fa-circle-o-notch fa-spin pull-right"></i>
					</a>
					<a id="guardarBtn" class="list-group-item" onclick="guardar();">
						<i class="fa fa-save list-item"></i>Guardar<i class="fa fa-circle-o-notch fa-spin pull-right"></i>
					</a>
				</div>
			</div>
      <div class="toolbar documento" data-spy="affix" data-offset-top="65">
        <h4 class="text-center">Documento
          <a class="toolbar-btn pull-right" data-toggle="modal" data-target="#agregaPaginaModal">
            <i class="fa fa-plus list-item"></i>
          </a>
        </h4>
        <div id="toolbar-documento" class="list-group">
          <ul class="nav nav-pills nav-stacked">
            <li class="text-muted text-center toolbar-help">
              <p>
                Agrega páginas dando clic en el botón "+" de la esquina derecha.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="toolbar imagen" data-spy="affix" data-offset-top="65">
        <h4 class="text-center">Imagen</h4>
        <div class="list-group">
          <div class="list-group-item">
            <i class="fa fa-expand list-item"></i>Llenar el área
            <input id="expandirChk" class="pull-right" onclick="expandirFoto();" type="checkbox">
          </div>
          <div class="list-group-item">
            <i class="fa fa-search list-item"></i>Tamaño
            <div id="slider"></div>
          </div>
          <a class="list-group-item">
            <i class="fa fa-font list-item"></i>Pie de foto
            <input id="pieFotoChk" class="pull-right" onclick="pieFoto();" type="checkbox">
            <textarea class="form-control" rows="3" ></textarea>
          </a>
          <a class="list-group-item">
            <i class="fa fa-crop list-item"></i>Recortar
          </a>
          <a class="list-group-item">
            <i class="fa fa-instagram list-item"></i>Filtros
          </a>
          <a class="list-group-item" onclick="eliminarFoto();">
            <i class="fa fa-remove list-item"></i>Eliminar
          </a>
        </div>
      </div>
		</div>
		<div class="col-md-8" id="workspace">
			{% if catalogo.contenido %}
				{% for pagina in catalogo.contenido.paginas %}
					<div class="page" id="{{pagina.id}}" title="{{pagina.nombre}}">
            {{ pagina.html | safe }}
					</div>
				{% endfor %}
			{% else %}
				<div class="placeholder center-block">Agrega una hoja para comenzar a crear el catálogo.</div>
			{% endif %}
		</div>
		<div class="col-md-2 images-container">
			<div id="multimediaToolbar" class="toolbar" data-spy="affix" data-offset-top="65">
				{% include "webapp/admin/multimedia_toolbar.html" %}
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="multimediaModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h3 class="modal-title" id="myModalLabel">Recursos multimedia</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-2">
						<ul class="nav nav-tabs" role="tablist">
							<li class="text-center active"><a href="#img" role="tab" data-toggle="tab">
								<i class="fa fa-picture-o fa-2x"></i>
								<h5>Imágenes</h5>
							</a></li>
							<li class="text-center"><a href="#video" role="tab" data-toggle="tab">
								<i class="fa fa-video-camera fa-2x"></i>
								<h5>Video</h5>
							</a></li>
							<li class="text-center"><a href="#audio" role="tab" data-toggle="tab">
								<i class="fa fa-music fa-2x"></i>
								<h5>Audio</h5>
							</a></li>
							<li class="text-center"><a href="#dropbox" role="tab" data-toggle="tab">
								<i class="fa fa-dropbox fa-2x"></i>
								<h5>Dropbox</h5>
							</a></li>
							<li class="text-center"><a href="#googledrive" role="tab" data-toggle="tab">
								<i class="fa fa-google fa-2x"></i>
								<h5>Google Drive</h5>
							</a></li>
						</ul>
					</div>
					<div class="col-md-10 tab-content">
						<div class="tab-pane fade in active" id="img">
							<div id="fileUploader"></div>
							<form action="{% url 'img_agregar' exposicion.slug %}" id="qq-form">
								<input type="hidden" name="exposicion_id" value="{{ exposicion.pk }}">
								<button id="imageLoadBtn" class="btn btn-raised btn-material-teal pull-right" type="submit">Cargar</button>
                <i class="fa fa-circle-o-notch fa-spin pull-right"></i>
							</form>
						</div>
						<div class="tab-pane pane fade" id="video">
							<div id="videoUrlInputForm" class="form-group">
						    <label class="control-label pull-left" for="videoUrlInput">Ingresa la url del video</label>
						    <input type="text" class="form-control" id="videoUrlInput" placeholder="Por ejemplo: https://www.youtube.com/watch?v=pjkh14h8W2g">
						  </div>
						  <div class="form-group">
								<button id="videoLoadBtn" class="btn btn-default pull-right" onclick="cargarVideo();">Buscar</button>
						  	<i class="fa fa-circle-o-notch fa-spin pull-right"></i>
						  	<div class="center-block" id="videoPreview"></div>
						  	<button id="videoInsertBtn" class="btn btn-material-teal pull-right" onclick="guardarVideo();">Guardar</button>
						  </div>
						</div>
						<div class="tab-pane pane fade" id="audio">
							<div id="audioUrlInputForm" class="form-group">
                <label class="control-label pull-left" for="audioUrlInput">Ingresa la url del clip de audio</label>
                <input type="text" class="form-control" id="audioUrlInput" placeholder="Por ejemplo: https://soundcloud.com/inbamx/ciclos-de-musica-inba">
              </div>
              <div class="form-group">
                <button id="audioLoadBtn" class="btn btn-default pull-right" onclick="cargarAudio();">Buscar</button>
                <i class="fa fa-circle-o-notch fa-spin pull-right"></i>
                <div class="center-block" id="audioPreview"></div>
                <button id="audioInsertBtn" class="btn btn-material-teal pull-right" onclick="guardarAudio();">Guardar</button>
              </div>
              <br>
						</div>
						<div class="tab-pane pane fade" id="dropbox">
							<h3>Dropbox</h3>
							<p class="text-muted">Carga archivos desde tu cuenta de Dropbox.</p>
							<a class="btn btn-material-teal">Conecta tu cuenta</a>
						</div>
						<div class="tab-pane pane fade" id="googledrive">
							<h3>Google Drive</h3>
							<p class="text-muted">Carga archivos desde tu cuenta de Google Drive.</p>
							<a class="btn btn-material-teal">Conecta tu cuenta</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="agregaPaginaModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Selecciona una plantilla</h4>
			</div>
			<div class="modal-body">
				<div class="row">
          <div class="col-md-3">
            <label for="layout-sel0">
              <div id="layout0" class="layout">
                <div class="r h100">
                  <div class="c col-xs-12">
                    <div class="area"></div>
                  </div>
                </div>
              </div>
            </label>
            <input class="layout-radio" type="radio" name="layout-sel" id="layout-sel0" value="#layout0" checked>
          </div>
					<div class="col-md-3">
						<label for="layout-sel1">
              <div id="layout1" class="layout">
                <div class="r h100">
                  <div class="c col-xs-6">
                    <div class="area"></div>
                  </div>
                  <div class="c col-xs-6">
                    <div class="area"></div>
                  </div>
                </div>
              </div>
            </label>
            <input class="layout-radio" type="radio" name="layout-sel" id="layout-sel1" value="#layout1">
					</div>
					<div class="col-md-3">
						<label for="layout-sel2">
              <div id="layout2" class="layout">
                <div class="r h25">
                  <div class="c col-xs-12">
                    <div class="area"></div>
                  </div>
                </div>
                <div class="r h75">
                  <div class="c col-xs-12">
                    <div class="area"></div>
                  </div>
                </div>
              </div>
            </label>
            <input class="layout-radio" type="radio" name="layout-sel" id="layout-sel2" value="#layout2">
					</div>
					<div class="col-md-3">
						<label for="layout-sel3">
              <div id="layout3" class="layout">
                <div class="r h75">
                  <div class="c col-xs-12">
                    <div class="area"></div>
                  </div>
                </div>
                <div class="r h25">
                  <div class="c col-xs-12">
                    <div class="area"></div>
                  </div>
                </div>
              </div>
            </label>
            <input class="layout-radio" type="radio" name="layout-sel" id="layout-sel3" value="#layout3">
					</div>
        </div><br><br>
        <div class="row">
					<div class="col-md-3">
						<label for="layout-sel4">
              <div id="layout4" class="layout">
                <div class="r h100">
                  <div class="c col-xs-9">
                    <div class="area"></div>
                  </div>
                  <div class="c col-xs-3">
                    <div class="area"></div>
                  </div>
                </div>
              </div>
            </label>
            <input class="layout-radio" type="radio" name="layout-sel" id="layout-sel4" value="#layout4">
					</div>
          <div class="col-md-3">
            <label for="layout-sel5">
              <div id="layout5" class="layout">
                <div class="r h100">
                  <div class="c col-xs-3">
                    <div class="area"></div>
                  </div>
                  <div class="c col-xs-9">
                    <div class="area"></div>
                  </div>
                </div>
              </div>
            </label>
            <input class="layout-radio" type="radio" name="layout-sel" id="layout-sel5" value="#layout5" checked>
          </div>
          <div class="col-md-3">
            <label for="layout-sel6">
              <div id="layout6" class="layout">
                <div class="r h50">
                  <div class="c col-xs-6">
                    <div class="area"></div>
                  </div>
                  <div class="c col-xs-6">
                    <div class="area"></div>
                  </div>
                </div>
                <div class="r h50">
                  <div class="c col-xs-12">
                    <div class="area"></div>
                  </div>
                </div>
              </div>
            </label>
            <input class="layout-radio" type="radio" name="layout-sel" id="layout-sel6" value="#layout6">
          </div>
          <div class="col-md-3">
            <label for="layout-sel7">
              <div id="layout7" class="layout">
                <div class="r h75">
                  <div class="c col-xs-6">
                    <div class="area"></div>
                  </div>
                  <div class="c col-xs-6">
                    <div class="area"></div>
                  </div>
                </div>
                <div class="r h25">
                  <div class="c col-xs-6">
                    <div class="area"></div>
                  </div>
                  <div class="c col-xs-6">
                    <div class="area"></div>
                  </div>
                </div>
              </div>
            </label>
            <input class="layout-radio" type="radio" name="layout-sel" id="layout-sel7" value="#layout7">
          </div>
        </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-material-teal" data-dismiss="modal" onclick="agregarPagina();">Agregar</button>
			</div>
		</div>
	</div>
</div>

<script type="text/template" id="qq-template">
	<div class="qq-uploader-selector">
		<div class="qq-upload-drop-area-selector qq-upload-drop-area">
			<span>Arrastra archivos aquí o da clic en el botón de abajo.</span>
			<div class="qq-upload-button-selector btn btn-default btn-raised">
				<div>Abrir explorador</div>
			</div>
			<span class="qq-drop-processing-selector qq-drop-processing">
				<span>Cargando archivos</span>
				<span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
			</span>
			<ul class="qq-upload-list-selector qq-upload-list">
				<li>
					<div class="qq-progress-bar-container-selector progress">
						<div class="qq-progress-bar-selector progress-bar progress-bar-info"></div>
					</div>
					<span class="qq-upload-file-selector qq-upload-file"></span>
					<span class="qq-upload-size-selector qq-upload-size"></span>
				</li>
			</ul>
		</div>
	</div>
</script>

{% endblock %}
