{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{% static "webapp/css/bootstrap.css" %}" media="all" rel="stylesheet">
  <link href="{% static "webapp/css/material.min.css" %}" media="all" rel="stylesheet">
  <link href="{% static "webapp/css/font-awesome.min.css" %}" media="all" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' media="all">
  <link href="{% static "webapp/css/style.css" %}" media="all" rel="stylesheet">
</head>

<style type="text/css">
  .page{
    background: none !important;
    box-shadow: none !important;
    margin-bottom: 0px !important;;
    padding: 10px;
    float: left;

    height: 600px;
    width: 730px;
  }

  .video-thumbnail{
    margin-bottom: 0;
    height: 80%;
  }

  a[href]:after {
    content: "(" attr(href) ")";
    text-decoration: underline;
    font-size: 12px;
    color: #428bca;
  }
</style>

<body>
  <div class="row">
    <div class="col-xs-12" id="workspace">
      {% for pagina in document.paginas %}
        <div class="page">
          {{ pagina.html | safe }}
        </div>
      {% endfor %}
    </div>
  </div>
</body>

</html>
